<style>
  ul.dropdown-menu {
    max-height: 580px;
    overflow: auto;
    
  }
  html {
    overflow-x: scroll;
  }
</style>
<script>
  $(function () {
    $('.icheck').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue'
      });

      $('.primary-filters-main-page').multiselect({
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        includeSelectAllOption: true,
        buttonWidth: '100%',
        buttonClass: 'btn btn-default',
        numberDisplayed: 0,
      });
  });

  $(document).ready(function () {
    $('.sidebar-remain-open').click();
  });

</script>


<div class="table-responsive main-client-allowance" >
	<h4 class="no-margin" id="submit_error_msg" style="color:#FF0000;display:none">Select All Options to get data</h4>
  <table class="table hover table-dark" id="allowance">
    <caption>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
          <span class="pull-left lead-text">
            OT /TA /Contingency details
          </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >Select Month:<p></p>
        <%= text_field_tag "allowance_month", '',placeholder: 'Select Month',autocomplete: "off", id: "datepicker", style:"height:36px;", class: 'form-control input_class allowance_month'%>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Station:<p></p>
        <%= (select_tag "allowance_station_list", options_for_select(@allowance_station_list), {prompt: 'Select', style:"height:36px;",class: "form-control  input-sm allowance_station_list"}).html_safe %>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="category">Category:<p></p>
        <%= select_tag "allowance-category-list", options_for_select(@allowance_category_list), {multiple: true, id: "allowance-category-list", class: 'primary-filters-main-page form-control input-sm'} %>
      </div>
       
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <button class="btn btn-primary btn-flat submit_data" id="submit_data" type="submit">Display</button>
      </div>
  </caption>
  </table>
  </div>

  <div id="allowance_display_form"></div>


<script>
  $(function () {
    $("#datepicker").datepicker({ 
          autoclose: true, 
          format: "M-yyyy",
			    viewMode: "months", 
			    minViewMode: "months"
    });

    // $('#datepicker').datepicker('setDate', 'now');
    $('#datepicker').datepicker('setDate', '');
    
  });
  $(".allowance_month,.allowance_station_list,allowance_type").on("change",function(){
    $("#submit_error_msg").css('display','none');
    $("#allowance_display_form").html('');
  });  
  $(".submit_data").click(function () {
      selected_month = $("#datepicker").val();
      station= $("#allowance_station_list").val();
      selected_category = $('#allowance-category-list').val();
      // allowance_type = $("#allowance_type").val();
      if (selected_month != "" && station != "") {
        $.ajax({
          type: "get",
          url: "/admin/allowances/new.js?month=" + selected_month + "&station=" + station+"&selected_category="+selected_category

        });
      }
      else{
      	 $("#submit_error_msg").css('display','');
      }  
      
  });
  

</script>