Commodity<p></p>
<%= select_tag "month-commodity-list", options_for_select(custom_month_commodity_list), {multiple: true, id: "month-commodity-list", class: 'primary-filters-second-page form-control input-sm'} %>


<script>
  $(function () {
    $('.primary-filters-second-page').multiselect({
      enableFiltering: true,
      enableCaseInsensitiveFiltering: true,
      includeSelectAllOption: true,
      buttonWidth: '100%',
      buttonClass: 'btn btn-default',
      numberDisplayed: 0,
      
    });

    $('#month-commodity-list').on("change",function(){
      var commodity = new Array();
      $("#month-commodity-list :selected").each(function (i,select) {
        commodity.push(" "+$(select).text());
      });
      var select_commodity = commodity.filter(function(e) { return e !== '  Select all' })
      document.getElementById("commodity_select").innerHTML="CMDT: "+select_commodity;
      $("#submit_error_msg").css('display','none');
    });

  });
</script>