<div id="cadre_with_total" >
<h3 align="left">Station Cadre Details  </h3>
<p id="cadre_with_total_heading" style="font-size: 16px;color:#cc3d16;"></p>

<table class="table hover table-bordered" id="cadre-station">
  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
      <th style="vertical-align: middle;">Sr</th>
      <th style="vertical-align: middle;">STN Code</th>
      <%if @cadre_station_header.present?%>
      	<%@cadre_station_header.each do |category,post|%>
      		<%post.each do |tmp|%>
      			<th style="vertical-align: middle;"><%="#{tmp.post_code} |GP-#{tmp.grade_pay_p6}| L-#{tmp.level_p7}"%></th>
	     		<%end%>
      			<th style="vertical-align: middle;">Total</th>
	     	<%end%>
      <%end%>
    </tr>
  </thead>
  <tbody>
    	
  </tbody>
</table>
</div>
