<div id="custom_reports_with_odr">
<h3 align="center">Loading Data Station-Commodity Wise </h3>
<p id="adi_station_heading" style="font-size: 16px;color:#cc3d16;"></p>

<table class="table hover table-bordered" id="custom-reports-with-odr">
  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
      <%if @custom_report_header.present?%>
        <%header = ["Date"] + @custom_report_header.keys%>
        <%header.each do |station| %>
          <%colspan = @custom_report_header[station].present? ? @custom_report_header[station][:header].count : 1%>
          <th style="vertical-align: middle;" colspan="<%=colspan%>"><%=station%></th>
        <%end%>
      <%end%>
    </tr>
    <tr  style="color: #fff; background: #4B4B4D;">
      <%if @custom_report_header.present?%>
        <%header.each do |station| %>
          <%if @custom_report_header[station].present?%>
            <%@custom_report_header[station][:header].each do |commodity|%>
              <th style="vertical-align: middle;"><%=commodity%></th>
            <%end%>
          <%else%>
            <th style="vertical-align: middle;"></th>
          <%end%>
        <%end%>
      <%end%>
    </tr>
    <tr  style="color: #fff; background: #4B4B4D;">
      <%if @custom_report_header.present?%>
        <%header.each do |station| %>
          <%if @custom_report_header[station].present?%>
            <%@custom_report_header[station][:header].each do |commodity|%>
              <%@custom_report_header[station][commodity].each do |odr|%>
                <th style="vertical-align: middle;"><%=odr%></th>
              <%end%>
            <%end%>
          <%else%>
            <th style="vertical-align: middle;"></th>
          <%end%>
        <%end%>
      <%end%>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
</div>
<script>
  $(function () {
    effective_from = $("#start_date").val();
    effective_to = $("#end_date").val();
    document.getElementById("adi_station_heading").innerHTML="Period From: "+effective_from+" To: "+effective_to;
  });
</script>
