<%@custom_station_list.each do |station|%>
$("#station-list").append('<option id="<%=station[0]%>" ><%=station[1]%></option>');
<%end%>
<%@custom_commodity_list.each do |commodity|%>
$("#commodity-list").append('<option id="<%=commodity[0]%>" ><%=commodity[1]%></option>');
<%end%>