<style>
  .employee_style{
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    width: 25%;
  }
</style>
<div class="table-responsive">
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" >  
  	<table class="table table-sm" id="employee-category-details">
  	<thead>
	    <tr>
	      <th>Type</th>
	      <th>Level</th>
	      <th>Date In Level</th>
	      <th>Post Details</th>
  		</tr>
  	</thead>
  	<tbody>
  		
  	</tbody>
  	</table>	

  </div>
  <div>
  	<%= link_to '<i class="fa fa-plus"></i>&nbsp;&nbsp;Add Employee'.html_safe, new_admin_employee_path,  class: "btn btn-primary btn-block btn-rad", style: "height: 35px;padding: 7px 11px" %>
  </div>
</div>

<script>
  

</script>