<style>
.table.table-dark tbody td {
    padding: 5px;
}
.add-cursor {cursor: pointer;}
.no-border tr td, .no-border tr th {
  border-width: 0;
</style>
<div class="table-responsive main-client-employee-update" >
  <div id="client-message"></div>
  <table class="table hover table-dark" id="employee-update">
  <caption>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
      <span class="pull-left lead-text">
        Update Employee
      </span>
    </div>
  </caption>
  </table>
  <div>
    <div>
      <%emp = @edit_employee_basic_data rescue nil%>
      <b style="color: red;">Employee: <%=emp.first_name%> <%=emp.last_name%></b>
    </div>
    <div>
      <%= render 'form'%>
    </div>
  </div>

</div>