<script>

    $(document).ready(function () {
      $('.employee-remain-open').click();
    });

</script>
<div class="table-responsive employee-main-listing">
  <div id="client-message"></div>
  <table class="table hover table-dark" id="employee-listing">
    <caption>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <span class="pull-left lead-text">
            <%="Employee :  "%>
          </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >Select Station<p></p>
        <%= (select_tag "station-list", options_for_select(@employee_station_list), {prompt: 'Select', required: true, style: "height:37px;", class: "form-control  input-sm station_list"}).html_safe %><p></p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <button class="btn btn-primary btn-flat submit_data" id="submit_data" type="submit">Display</button>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input aria-invalid="false" aria-required="true" class="form-control input-md valid " type="text" id="primary-search" placeholder="Search by name or number">
        </div>
      </div>
      <%#if is_viewable%>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= link_to '<i class="fa fa-plus"></i>&nbsp;&nbsp;Add Employee'.html_safe, new_admin_employee_path,  class: "btn btn-primary btn-block btn-rad", style: "height: 35px;padding: 7px 11px" %>
        </div>
      <%#end%>
    </caption>
    
  </table>
</div>

<div id="employee-lisiting">
  
</div>





<script>
  $('.employee-delete').on('click', function () {
    $('#custom-confirm-box').find('.delete').attr("data-remote", true);
  });

  $(".submit_data").click(function () {
    
    selected_station = $("#station-list").val();
    if (selected_station != "") {
      $.ajax({
        type: "get",
        url: "/admin/employees.js?selected_station=" + selected_station + "&is_data_filter=" + true
      });
    }
    else {
      alert("Select station "); 
    }  
      
  });
  


</script>