<div id="one_custom_reports">
<h3 align="center">Loading Data Station-Commodity Wise </h3>
<p id="adi_station_heading" style="font-size: 16px;color:#cc3d16;"></p>

<table class="table hover table-bordered" id="one-custom-reports">
  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
      
    </tr>
    <tr  style="color: #fff; background: #4B4B4D;">
      
    </tr>
  </thead>
  <tbody>
      
  </tbody>
</table>
</div>
<script>
  $(function () {
    effective_from = $("#start_date").val();
    effective_to = $("#end_date").val();
    document.getElementById("adi_station_heading").innerHTML="Period From: "+effective_from+" To: "+effective_to;
  });
</script>
