<style>
  ul.dropdown-menu {
    width: 200px;
    max-height: 180px;
    overflow: auto;

  }
  html {
    overflow-x: scroll;
  }
  .noborder{
    border: hidden;

  }
</style>
<div class="table-responsive main-dak-received">
  <table class="table hover table-dark" id="dak_received_heading">
    <caption>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <span class="pull-left lead-text">
            <%="Received Message"%>
          </span>
      </div>
    </caption>
  </table>
  <div class="display_dak" align="center" >
    <table class="noborder" style="width:30%;" >
      <tr class="noborder">
        <td class="noborder">
          <input type="radio" name="dak_select" value="unread" checked> UN-READ<br>
        </td>
        <td class="noborder">  
          <input type="radio" name="dak_select" value="read"> READ<br>
        </td>
        <td class="noborder">
          <input type="radio" name="dak_select" value="all"> ALL<br>
        </td>
      </tr>
    </table>
  </div>
  
  <div id="load-requested-daks">
    <%= render 'unread_dak_form' %>
  </div>
  <div id="temp-daks">
    
  </div>

</div>

<script>
  $('input[type="radio"]').change(function(e) {
    var checked_value = $('input[type="radio"]:checked').val();
  //     container = $(this).parent(),
  //     siblings = container.siblings();

  // container.find('input[type="checkbox"]').prop({
  //   indeterminate: false,
  //   checked: checked
  });

</script>
