<script>
  $(document).ready(function () {
    $('.timesheet-remain-open').click();
  });

</script>
<style>
  .modal-dialog {
      margin: 30px auto;
      width: 80%;
  }
  .add-cursor tr{
   height: 5px;
  }  
  .table.table-dark tbody td {
    padding: 5px;

  }

.add-cursor {cursor: pointer;}
.add-cursor span {cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}
.input-group .form-control {
    float: right;
    width: 35%;
  }
  html {
    overflow-x: scroll;
  }

  select.set-dropdown {
    display: block !important;
    opacity: 0;
    height: 0px;
  }
  table th, table td { overflow: hidden; }
  
  
</style>


<% @method = params[:id].present? ? "PATCH" : "POST" %>
<% @url = params[:id].present? ? admin_rake_load_path(params[:id]) : admin_rake_loads_path %>



<div class="table-responsive main-client-ldng" >
  <div id="client-message"></div>
  <table class="table hover table-dark" id="rake_load-ldng">
    <caption>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
          <span class="pull-left lead-text">
            Rake Loading 
          </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <%= text_field_tag "rake_load_date", Date.today.strftime('%Y-%m-%d'),placeholder: 'rake load date', id: "datepicker", class: 'form-control input_class'%>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <button class="btn btn-primary btn-flat submit" id="submit_data" type="submit">Display</button>
      </div>
  </caption>
  </table>
  </div>


<div id="rake_load_new_form"></div>
<script>
  var old_date = '<%=Date.today.strftime("%d/%m/%Y")%>';
  $(function () {
    $("#datepicker").datepicker({ 
          autoclose: true, 
          format:"dd/mm/yyyy",
          todayHighlight: true,
    });
    
    $("#datepicker").on("change",function(){
      $("#rake_load_new_form").empty();
    });

    $('#datepicker').datepicker('setDate', 'today');

  });
  $(".submit").click(function () {
      
      effective_from = $("#datepicker").val();
      // if(old_date != effective_from){
        $.ajax({
          type: "get",
          url: "/admin/rake_loads/new.js?data=" + effective_from
        });
        old_date = effective_from 
      // }
  });
    
  

  

</script>