.field-label p {
  text-indent: 10px;
}

.field-label {
  text-indent: 5px;
}

.selected-table tr td {
  width: 100%;
  border: none !important;
}

.selected-table tr th {
  border: none !important;
}

th {
    text-align: center !important;
    padding-top: 8px;
    font-size: 13px;
    font-weight: 200;
    padding: 5px;
}

.label {
  display: inline-flex !important;
}
